@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

.background-image {
    background-image: url("images/Ahmad-Bin-Ali-Stadium.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    transition: all 0.5s ease;
}

body {
    overflow: hidden;

}

.nav {
    padding: 2vh;
    opacity: 1;
    -webkit-box-shadow: 0 3.5px 8.5px .5px #5a1730;
    -moz-box-shadow: 0 3.5px 8.5px .5px #5a1730;
    box-shadow: 0 3.5px 8.5px .5px #5a1730;
    background: rgba(99, 14, 43, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(99, 14, 43, 0.25);
    transition: all 0.3s ease;
    opacity: .85;
    text-align: center;
}

.nav:hover {
    -webkit-box-shadow: 0 3.5px 8.5px 3.5px #5a1730;
    -moz-box-shadow: 0 3.5px 8.5px 3.5px #5a1730;
    box-shadow: 0 3.5px 8.5px 3.5px #5a1730;
    transition: all 0.3s ease;
    opacity: 1;
}

.logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
}


.logo__image {
    width: 50vh;
    height: 100%;
    object-fit: cover;
    display: flex;
    transition: all 0.5s ease;
    opacity: .8;
}

.logo__image:hover {
    scale: 1.2;
    transition: all 0.5s ease;
    opacity: 1;
}

a.nav-link.active {
    color: #fff;
    font-weight: lighter;
    font-style: oblique;
}

a.nav-link {
    font-size: 2.5vh;
}

a.nav-link:hover {
    opacity: .7;
    color: #fff;
}

a.nav-link {
    color: #fff;
}

.div-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid rgba(255, 255, 255, 0.25);
    height: 60vh;
    width: 100vh;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    -webkit-box-shadow: 8px 9px 15.5px -3.5px #000000;
    -moz-box-shadow: 8px 9px 15.5px -3.5px #000000;
    box-shadow: 8px 9px 15.5px -3.5px #000000;

    transition: all 0.3s ease;

    justify-content: center;

    overflow: scroll;
}

.div-content p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.5vh;
    color: #000;
    text-align: center;
    padding: 2vh;
    font-weight: bold;
}

.div-content:hover {
    -webkit-box-shadow: 0 3.5px 8.5px .7vh #5a1730;
    -moz-box-shadow: 0 3.5px 8.5px .7vh #5a1730;
    box-shadow: 0 3.5px 8.5px .7vh #5a1730;
    transition: all 0.3s ease;
}



.div-cnt p {
    font-size: 1.75rem;
}


.div-cnt h1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #620E2A;
    padding-left: 5rem;
    padding-top: 1.4rem;
    font-size: 4rem;
    font-weight: bold;
}